.aside_column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--dark-gray);
  position: fixed;
  height: 100%;
}

.type_btn{
  margin: .5em;
  padding: .5em;
  border: none;
  background-color: var(--white);
}

