aside {
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf;
  width: calc(2rem + 46px);
  overflow: hidden;
  min-height: 100vh;
  padding: 1rem;
  transition: 0.2s ease-in-out;
  height: 100%;
}
aside .flex {
  flex: 1 1 0%;
}
aside .logo {
  margin-bottom: 1rem;
  margin-left: 10%;
}
aside .logo img {
  width: 2rem;
}
aside .menu-toggle-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  position: relative;
  top: 0;
  transition: 0.2s ease-in-out;
}
aside .menu-toggle-wrap .menu-toggle {
  transition: 0.2s ease-in-out;
}
aside .menu-toggle-wrap .menu-toggle .material-icons {
  font-size: 2rem;
  color: #f1f5f9;
  transition: 0.2s ease-out;
}
aside .menu-toggle-wrap .menu-toggle:hover .material-icons {
  color: var(--primary);
  transform: translateX(0.5rem);
}
aside .pokedex__poke-list {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
aside .pokedex__poke-list .pokemon__li {
  margin: 0 auto;
  width: 575px;
  border-radius: 20px;
  border: 2px solid rgb(121, 121, 121);
  background-color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  font-weight: 550;
  font-size: large;
  text-transform: uppercase;
  padding-left: 0px !important;
}
aside .pokedex__poke-list .pokemon__li:hover, aside .pokedex__poke-list .pokemon__li:focus-within {
  box-shadow: 1px 1px 8px 1px #E54222;
  outline: none;
}
aside .pokedex__poke-list .pokemon__btn_pokebola {
  width: 25px !important;
  height: 25px !important;
}
aside .pokedex__poke-list .pokemon__btn {
  text-transform: uppercase;
  margin-top: 0.75rem;
  outline: none;
  height: 36px;
  text-align: center;
  width: 80%;
  background-color: #FFFFFF;
  color: #000000;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border: 2px #5EBDFC;
  border-radius: 40px;
}
aside .pokedex__poke-list .pokemon__btn .pokemon__btn:hover {
  color: #000000;
  background-color: #cfcfcf;
}
aside .pokedex__poke-list .pokemon__li:hover {
  border: 2px solid #37796C;
}
aside h3,
aside .button .text {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
aside h3 {
  color: #f1f5f9;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
aside .menu {
  margin: 0 -1rem;
}
aside .menu .button {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  padding: 0.5rem 1rem;
}
aside .menu .button .material-icons {
  font-size: 2rem;
  color: #f1f5f9;
  transition: 0.2s ease-in-out;
}
aside .menu .button .text {
  color: #f1f5f9;
  transition: 0.2s ease-in-out;
}
aside .menu .button:hover {
  background-color: var(--dark-alt);
}
aside .menu .button:hover .material-icons,
aside .menu .button:hover .text {
  color: var(--primary);
}
aside .menu .button.router-link-exact-active {
  background-color: var(--dark-alt);
  border-right: 5px solid var(--primary);
}
aside .menu .button.router-link-exact-active .material-icons,
aside .menu .button.router-link-exact-active .text {
  color: var(--primary);
}
aside .footer {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
aside .footer p {
  font-size: 0.875rem;
  color: var(--grey);
}
aside.is-expanded {
  width: 555px;
}
aside.is-expanded .menu-toggle-wrap {
  top: -3rem;
}
aside.is-expanded .menu-toggle-wrap .menu-toggle {
  transform: rotate(-180deg);
}
aside.is-expanded h3,
aside.is-expanded .button .text {
  opacity: 1;
}
aside.is-expanded .button {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
aside.is-expanded .button .material-icons {
  margin-right: 1rem;
}
aside.is-expanded .footer {
  opacity: 0;
}
@media (max-width: 1024px) {
  aside {
    position: absolute;
    z-index: 99;
  }
}/*# sourceMappingURL=style.css.map */