.pokedex {
  display: flex;
  flex-direction: column;
}
.pokedex__menu {
  display: flex;
  background-color: #CE2211;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.pokedex__menu .pokedex__menu-icon-container {
  color: #FFFFFF;
}
.pokedex__menu .pokedex__input {
  margin: 0 auto;
  width: 250px;
  border-radius: 20px;
  border: 4px solid #FFFFFF;
  background-color: #FFFFFF;
}
.pokedex__menu .pokedex__input input {
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 250px;
  outline: none;
  text-align: center;
  font-size: 26px;
}
.pokedex__menu .pokedex__input:hover, .pokedex__menu .pokedex__input:focus-within {
  box-shadow: 1px 1px 8px 1px #000000;
  outline: none;
}
.pokedex__menu .pokedex__profile img {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.pokedex__menu .pokedex__pokebola-container {
  width: 12rem;
  height: 12rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.pokedex__menu .pokedex__pokebola-container .pokedex_pokebola {
  width: 1rem;
  height: 1rem;
  box-shadow: 0rem 0rem 0 -0.05rem #FFFFFF, 1rem 0rem 0 -0.05rem #FFFFFF, 2rem 0rem 0 -0.05rem #FFFFFF, 3rem 0rem 0 -0.05rem #FFFFFF, 4rem 0rem 0 -0.05rem #000000, 5rem 0rem 0 -0.05rem #000000, 6rem 0rem 0 -0.05rem #000000, 7rem 0rem 0 -0.05rem #000000, 8rem 0rem 0 -0.05rem #FFFFFF, 9rem 0rem 0 -0.05rem #FFFFFF, 10rem 0rem 0 -0.05rem #FFFFFF, 11rem 0rem 0 -0.05rem #FFFFFF, 0rem 1rem 0 -0.05rem #FFFFFF, 1rem 1rem 0 -0.05rem #FFFFFF, 2rem 1rem 0 -0.05rem #000000, 3rem 1rem 0 -0.05rem #000000, 4rem 1rem 0 -0.05rem #CE2211, 5rem 1rem 0 -0.05rem #CE2211, 6rem 1rem 0 -0.05rem #CE2211, 7rem 1rem 0 -0.05rem #CE2211, 8rem 1rem 0 -0.05rem #000000, 9rem 1rem 0 -0.05rem #000000, 10rem 1rem 0 -0.05rem #FFFFFF, 11rem 1rem 0 -0.05rem #FFFFFF, 0rem 2rem 0 -0.05rem #FFFFFF, 1rem 2rem 0 -0.05rem #000000, 2rem 2rem 0 -0.05rem #CE2211, 3rem 2rem 0 -0.05rem #CE2211, 4rem 2rem 0 -0.05rem #CE2211, 5rem 2rem 0 -0.05rem #CE2211, 6rem 2rem 0 -0.05rem #CE2211, 7rem 2rem 0 -0.05rem #CE2211, 8rem 2rem 0 -0.05rem #CE2211, 9rem 2rem 0 -0.05rem #CE2211, 10rem 2rem 0 -0.05rem #000000, 11rem 2rem 0 -0.05rem #FFFFFF, 0rem 3rem 0 -0.05rem #FFFFFF, 1rem 3rem 0 -0.05rem #000000, 2rem 3rem 0 -0.05rem #CE2211, 3rem 3rem 0 -0.05rem #CE2211, 4rem 3rem 0 -0.05rem #CE2211, 5rem 3rem 0 -0.05rem #CE2211, 6rem 3rem 0 -0.05rem #CE2211, 7rem 3rem 0 -0.05rem #CE2211, 8rem 3rem 0 -0.05rem #CE2211, 9rem 3rem 0 -0.05rem #CE2211, 10rem 3rem 0 -0.05rem #000000, 11rem 3rem 0 -0.05rem #FFFFFF, 0rem 4rem 0 -0.05rem #000000, 1rem 4rem 0 -0.05rem #CE2211, 2rem 4rem 0 -0.05rem #CE2211, 3rem 4rem 0 -0.05rem #CE2211, 4rem 4rem 0 -0.05rem #CE2211, 5rem 4rem 0 -0.05rem #CE2211, 6rem 4rem 0 -0.05rem #CE2211, 7rem 4rem 0 -0.05rem #CE2211, 8rem 4rem 0 -0.05rem #CE2211, 9rem 4rem 0 -0.05rem #CE2211, 10rem 4rem 0 -0.05rem #CE2211, 11rem 4rem 0 -0.05rem #000000, 0rem 5rem 0 -0.05rem #000000, 1rem 5rem 0 -0.05rem #CE2211, 2rem 5rem 0 -0.05rem #CE2211, 3rem 5rem 0 -0.05rem #CE2211, 4rem 5rem 0 -0.05rem #CE2211, 5rem 5rem 0 -0.05rem #000000, 6rem 5rem 0 -0.05rem #000000, 7rem 5rem 0 -0.05rem #CE2211, 8rem 5rem 0 -0.05rem #CE2211, 9rem 5rem 0 -0.05rem #CE2211, 10rem 5rem 0 -0.05rem #CE2211, 11rem 5rem 0 -0.05rem #000000, 0rem 6rem 0 -0.05rem #000000, 1rem 6rem 0 -0.05rem #000000, 2rem 6rem 0 -0.05rem #CE2211, 3rem 6rem 0 -0.05rem #CE2211, 4rem 6rem 0 -0.05rem #000000, 5rem 6rem 0 -0.05rem #FFFFFF, 6rem 6rem 0 -0.05rem #FFFFFF, 7rem 6rem 0 -0.05rem #000000, 8rem 6rem 0 -0.05rem #CE2211, 9rem 6rem 0 -0.05rem #CE2211, 10rem 6rem 0 -0.05rem #000000, 11rem 6rem 0 -0.05rem #000000, 0rem 7rem 0 -0.05rem #000000, 1rem 7rem 0 -0.05rem #FFFFFF, 2rem 7rem 0 -0.05rem #000000, 3rem 7rem 0 -0.05rem #000000, 4rem 7rem 0 -0.05rem #000000, 5rem 7rem 0 -0.05rem #FFFFFF, 6rem 7rem 0 -0.05rem #FFFFFF, 7rem 7rem 0 -0.05rem #000000, 8rem 7rem 0 -0.05rem #000000, 9rem 7rem 0 -0.05rem #000000, 10rem 7rem 0 -0.05rem #FFFFFF, 11rem 7rem 0 -0.05rem #000000, 0rem 8rem 0 -0.05rem #FFFFFF, 1rem 8rem 0 -0.05rem #000000, 2rem 8rem 0 -0.05rem #FFFFFF, 3rem 8rem 0 -0.05rem #FFFFFF, 4rem 8rem 0 -0.05rem #FFFFFF, 5rem 8rem 0 -0.05rem #000000, 6rem 8rem 0 -0.05rem #000000, 7rem 8rem 0 -0.05rem #FFFFFF, 8rem 8rem 0 -0.05rem #FFFFFF, 9rem 8rem 0 -0.05rem #FFFFFF, 10rem 8rem 0 -0.05rem #000000, 11rem 8rem 0 -0.05rem #FFFFFF, 0rem 9rem 0 -0.05rem #FFFFFF, 1rem 9rem 0 -0.05rem #000000, 2rem 9rem 0 -0.05rem #FFFFFF, 3rem 9rem 0 -0.05rem #FFFFFF, 4rem 9rem 0 -0.05rem #FFFFFF, 5rem 9rem 0 -0.05rem #FFFFFF, 6rem 9rem 0 -0.05rem #FFFFFF, 7rem 9rem 0 -0.05rem #FFFFFF, 8rem 9rem 0 -0.05rem #FFFFFF, 9rem 9rem 0 -0.05rem #FFFFFF, 10rem 9rem 0 -0.05rem #000000, 11rem 9rem 0 -0.05rem #FFFFFF, 0rem 10rem 0 -0.05rem #FFFFFF, 1rem 10rem 0 -0.05rem #FFFFFF, 2rem 10rem 0 -0.05rem #000000, 3rem 10rem 0 -0.05rem #000000, 4rem 10rem 0 -0.05rem #FFFFFF, 5rem 10rem 0 -0.05rem #FFFFFF, 6rem 10rem 0 -0.05rem #FFFFFF, 7rem 10rem 0 -0.05rem #FFFFFF, 8rem 10rem 0 -0.05rem #000000, 9rem 10rem 0 -0.05rem #000000, 10rem 10rem 0 -0.05rem #FFFFFF, 11rem 10rem 0 -0.05rem #FFFFFF, 0rem 11rem 0 -0.05rem #FFFFFF, 1rem 11rem 0 -0.05rem #FFFFFF, 2rem 11rem 0 -0.05rem #FFFFFF, 3rem 11rem 0 -0.05rem #FFFFFF, 4rem 11rem 0 -0.05rem #000000, 5rem 11rem 0 -0.05rem #000000, 6rem 11rem 0 -0.05rem #000000, 7rem 11rem 0 -0.05rem #000000, 8rem 11rem 0 -0.05rem #FFFFFF, 9rem 11rem 0 -0.05rem #FFFFFF, 10rem 11rem 0 -0.05rem #FFFFFF, 11rem 11rem 0 -0.05rem #FFFFFF;
}
.pokedex__main {
  display: flex;
  flex-wrap: nowrap;
}
.pokedex__main .pokedex__sidebar {
  height: 83%;
  width: 30%;
  background-color: #EFFCD5;
  overflow: auto;
}
.pokedex__main .pokedex__pokemon-info {
  background-color: #16D6FB;
  width: 70%;
  overflow: auto;
}
.pokedex__footer {
  color: white;
  background-color: black;
  text-align: center;
}/*# sourceMappingURL=style.css.map */