<section>
  <header class="pokemon-detail__header">
    <button class="return_btn" (click)="return()">
      Return
    </button>
    <div class="pokemon-detail__title">
      <p>Pokedex - Details</p>
    </div>
  </header>
  <main class="container">
    <div class="pokemon_div">
      <img class="pokemon__details-sprit" src="{{pokemon.sprites['front_default']}}" alt="{{pokemon.name}}">
      <div class="pokemon__details-name_id">
        <p>{{pokemon.name}}</p>
        <p>ID : {{pokemon.id}}</p>
      </div>
      <div class="pokemon__details-types">
          <button class="type_btn" *ngFor="let type of pokemon.types">{{type.type['name']}}</button>
      </div>
    </div>
    <div class="abilities_section">
      <p>Abilities</p>
      <div class="ability__row" *ngFor="let abilities of pokemon.abilities">
        <p class="ability_names">{{abilities.ability['name']}}</p>
        <p class="ability_value">{{abilities.is_hidden}}</p>
      </div>
    </div>
    <app-status-graph class="stats-app" [pokemonStats]="pokemon.stats"></app-status-graph>
  </main>
</section>
