<div class="card__row" *ngFor="let pokemon of pokeList" (click)="openPokemonDetailsCard()">
  <div class="card__pokeside">
    <div class="container_heigth-weight">
      <div class="height">
        {{pokemon.height}}m
      </div>
      <div class="weight">
        {{pokemon.weight}}Kg
      </div>
    </div>
    <div class="container_sprite-number">
      <Div class="background__text">
        #{{pokemon.id}}
      </Div>
      <img class="sprinte" src="{{pokemon.sprites['front_default']}}" alt="">
    </div>
    <div class="card_detail">
      <h3>{{pokemon.name}}</h3>
      <p>{{pokemon.species["name"]}}</p>
      <div *ngFor="let type of pokemon.types">
        <p>{{type.type['name']}}</p>
      </div>
      <p>{{pokemon.location_area_encounters}}</p>
    </div>
  </div>
  <div class="status" >
    <p *ngFor="let stats of pokemon.stats">
      {{stats.stat['name']}} - {{stats.base_stat}}
    </p>
  </div>
</div>

