.card__row{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1em;
  font-size: var(--font-size-normal);
}

.card__row:hover{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.card__pokeside{
  display: flex;
  flex-direction: column;
}

.card__pokeside{
  border-radius: 20px;
  margin: 4em;
  height: 22em;
  width: 25em;
  background-color: var(--dark-gray);
}

.container_heigth-weight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.height, .weight{
  margin: 1em;
  border-radius: 100%;
  background-color: var(--very-dark-gray);
  color: var(--white);
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_sprite-number{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprint{

}

.card_detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon_name{
  font-size: var(--font-size-title);
  margin: .3em;
}

.pokemon_specie{
  margin: .3em;
}

.type_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: .5em;
}

.status{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  background-color: var(--dark-gray);
  width: 35em;
  border-radius: 20px;
}

.stats__row{
  display: flex;
  flex-direction: row;
}
