<div class="card__row" *ngFor="let pokemon of pokeList">
  <div class="card__pokeside">
    <div class="container_heigth-weight">
      <div class="height">
        {{pokemon.height}}
      </div>
      <div class="weight">
        {{pokemon.weight}}
      </div>
    </div>
    <div class="container_sprite-number">
      <Div class="background__text">
        {{pokemon.id}}
      </Div>
      <img class="sprint" src="{{pokemon.sprites['front_default']}}" alt="">
    </div>
    <div class="card_detail">
      <h3>{{pokemon.name}}</h3>
      <p>{{pokemon.species["name"]}}</p>
      <div *ngFor="let type of pokemon.types">
        <p>{{type}}</p>
      </div>
      <p>{{pokemon.location_area_encounters}}</p>
    </div>
  </div>
  <div class="status">
    <p>Speed {{pokemon.stats[5]}}</p>
    <p>Special Defense {{pokemon.stats[4]}}</p>
    <p>Special Attack {{pokemon.stats[3]}}</p>
    <p>Defense {{pokemon.stats[2]}}</p>
    <p>Attack {{pokemon.stats[1]}}</p>
    <p>Hp {{pokemon.stats[0]}}</p>
  </div>
</div>

