.container_card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card__row{
  font-size: var(--font-size-normal);
}

.card__row:hover{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.card__pokeside{
  display: flex;
  flex-direction: column;
}

.card__pokeside{
  border-radius: 20px;
  margin: 4em;
  height: 25em;
  width: 30em;
  background-color: var(--dark-gray);
}

.container_heigth-weight{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.height, .weight{
  margin: 1em;
  border-radius: 100%;
  background-color: var(--very-dark-gray);
  color: var(--white);
  width: 5em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background__text{
  color: var(--gray);
  font-size: var( --font-size-id);
  position: absolute;
}

.container_sprite-number{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprinte{
  z-index:1000;
}

.card_detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemon_name{
  font-size: var(--font-size-title);
  margin: .3em;
}

.pokemon_specie{
  margin: .3em;
}

.type_row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: .5em;
}

.type_name{
  background-color: rgba(255, 0, 0, 0.267);
  padding: .5em;
  border-radius: 20px;
}

.status{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 4em;
  background-color: var(--dark-gray);
  width: 50em;
  border-radius: 20px;
  padding: 1.5em;
}

.stats__row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Status bar */
.bar-stats{
  width: 20em;
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.bar-background, .bar-progress {
  border-radius: 8px;
}

.bar-background {
  background: #ccccccfb;
  height: 4px;
  width: 100%;
}

.bar-progress {
  background: rgb(40, 185, 3);
  height: 8px;
  margin-top: -6px;
  transition: all .5s;
  width: 44%;
}

.align-items-center {
  align-items: center;
}
