<div class="card__row" *ngFor="let pokemon of pokeList">
  <div class="card__pokeside">
    <div class="container_heigth-weight">
      <div class="heigth">
        20
      </div>
      <div class="weight">
        30
      </div>
    </div>
    <div class="container_sprite-number">
      <Div class="background__text">
        #150
      </Div>
      <img class="sprint" src="" alt="">
    </div>
    <div class="card_detail">
      <h3>Pokemon name</h3>
      <p>Generatic</p>
      <div>
        types
      </div>
      <p>hab</p>
    </div>
  </div>
  <div class="status">
    <p>Speed</p>
    <p>Speed</p>
    <p>Speed</p>
    <p>Speed</p>
    <p>Speed</p>
    <p>Speed</p>
  </div>
</div>

