@import "../../assets/styles/abstract/variaveis";

.pokedex__poke-list{
    display: flex;
    justify-content: center;
    padding-left: 0;
    .pokemon__li{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 5px;
        background-color: $color-white;
        font-weight: 550;
        font-size: large;
        text-transform: uppercase;
        padding-left: 0px !important;
        width: 80%;
        height: 36px;
    }
    .pokemon__li:hover{
        border: 2px solid $color-dark-green;
    }
}



