//FONT
$font: 'Roboto', sans-serif;

//COLORS
$color-black: #000000;
$color-grey: #cfcfcf;
$color-red: #CE2211;
$color-orange: #E54222;
$color-dark-green: #37796C;
$color-mainly-blue: #0C3348;
$color-dark-blue:  #1C4CBD;
$color-blue: #5EBDFC;
$color-light-blue: #16D6FB;
$color-light-green: #EFFCD5;
$color-white: #FFFFFF;

//FONT SIZE
$title-size: 2rem;
$text-size: 1rem;